<a href="https://colab.research.google.com/github/AngieZ10/ai2023angie/blob/main/Clase2IA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
myDictionary={"cat" : "cute","dog":"fat","lion":"strong"}

print(type(myDictionary))

for key, value in myDictionary.items():
  print(f'key {key}, value {value}')
  print('key %s, value %s'%(key, value))
  print('the key is: {} and the value: {}'.format(key, value))
myDictionary['monkey']='so cute'

print('---------------------')
print(myDictionary)

<class 'dict'>
key cat, value cute
key cat, value cute
the key is: cat and the value: cute
key dog, value fat
key dog, value fat
the key is: dog and the value: fat
key lion, value strong
key lion, value strong
the key is: lion and the value: strong
---------------------
{'cat': 'cute', 'dog': 'fat', 'lion': 'strong', 'monkey': 'so cute'}

In [7]:
tmp=list()

for i in range(1,101,1):
  if i%2==0:
    tmp.append(i)
print(tmp)
print('---------------------')
aux=[i for i in range (1,101) if i%2==0]
print(aux)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
---------------------
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [8]:
tmpList=[i**2 for i in range(1,101) if i%2==0]
print(tmpList)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604, 10000]

In [ ]:
def upperCase(valString):
  pass